pip>=21.0,<23.4
bumpver==2023.1129
ruff==0.1.9
chardet==5.2.0

# When Update, Also Update the requirements_hass.txt with requirements_all.txt
# from Home Assistant Core for the version.
homeassistant==2023.12.4